
        .classbody {
            min-height: 80vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            background-color:rgb(250, 248, 244);
            border: 1px;
            color:black
        }