
    .cardDesign{  
          
    display: flex;
    align-items:center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0) 3px 4px;
    transition: 0.50s linear;
}



.animeButton:hover{
    transform: scale(1.1);
    transition: .7s;
    cursor: pointer;
}